code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient( #0F2027,#013242,#122831);


}